.r4_counter_:hover{
    /* background: linear-gradient(-12deg,#2a57d7 0,#10ca19 100%) !important; */
    background: white ;
}
.r4_counter_:hover h3{
   color: #505458;
}
.r4_counter_ {
    min-height: 100px;
    margin-bottom: 15px;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 28px rgba(0,0,0,.1);
    box-shadow: 0 2px 28px rgba(0,0,0,.1);
}
.r4_counter_ .stats{
    margin-left: 50px;
}
.ico-icon-w,
.r4_counter_:hover .ico-icon .ico-icon-w{
    visibility: hidden;
}
.r4_counter_:hover .ico-icon .ico-icon-w{
    visibility: visible;
}
.r4_counter_.has-gradient-to-right-bottom .stats span{
    color: #f7f7f7;
}
.r4_counter_.has-gradient-to-right-bottom,
.r4_counter_:hover{
    -webkit-box-shadow: 0 1px 18px rgba(0, 149, 255, 0.66);
    box-shadow: 0 1px 18px rgba(0, 149, 255, 0.66);
    cursor: pointer;
}
/* .r4_counter_:hover{
    background-image: linear-gradient(-12deg,#2a57d7 0,#9eeeff 100%) !important
} */
.r4_counter_:hover h3{
    color: #505458
}
.r4_counter_:hover span{
    color: #f7f7f7
}
.r4_counter_:hover .icon-primary{
    color: #fff
}
.r4_counter_ .icon-after{
    position: absolute;
    width: 30%;
    line-height: 75px;
    height: 92%;
    font-size: 84px;
    color: #f7f7f7;
    top: 5px;
    right: 0;
}
.r4_counter_.has-gradient-to-right-bottom .icon-after,
.r4_counter_:hover .icon-after{
    opacity: 0.2
}
.r4_counter_ .fa {
    margin-right: 0px;
    width: 66px;
    height: 66px;
    text-align: center;
}
.r4_counter_ h4 {
    margin: 10px 0 5px 0;
}